if SHIELD_CORCELL_R

config ZMK_KEYBOARD_NAME
    default "Corcell"

config ZMK_SPLIT
    default y

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_CORCELL_L

config ZMK_KEYBOARD_NAME
    default "Corcell"

config ZMK_SPLIT
    default y

endif
